<div class="container">
<header class="portfolio-header">
      <h1 class="logo">My Portfolio</h1>
      <p> Ed Gerald Suca</p>
      <p> BSIT-3B</p>
</header>

<section id="about" class="section about-section">
  <div class="container">
    <h2>About Me</h2>
    <p> I am Ed Gerald Suca, 21 years old living at Brgy. Liberty, Mayorga Leyte.
      I am a proud mama's boy, because I do love my mom so much. The sport that I love to play is volleyball.
      And my hobbies are eating, playing Call of Duty and ML.
    </p>
  </div>
</section>

<section class="contact">
  <h2>Contact</h2>
  <p>Phone: 09317462964/09306743149</p>
  <p>Email: gegemongege%$gmail.com</p>
  <p>Facebook:Ed Gerald Suca</p>
</section>

<footer class="portfolio-footer">
  <div class="container">
    <p>© 2024 Suca, Ed, Gerald. All rights reserved.</p>
  </div>
</footer>
</div>